version: "2.3"
services:
  local_notebook:
    build: ..
    volumes:
      - ./notebooks/models:/notebooks/models
      - $HOME/data/static:/notebooks/data
      - ./notebooks:/notebooks
      - ../nnsysident:/src/nnsysident
      - ../data_port:/src/data_port
      - /tmp/djcache:/cache
    ports:
      - "8888:8888"
    env_file: .env

  local_debug:
    build: ..
    volumes:
      - ./notebooks/models:/notebooks/models
      - $HOME/data/static:/notebooks/data
      - ./notebooks:/notebooks
      - ../nnsysident:/src/nnsysident
      - ../data_port:/src/data_port
      - /tmp/djcache:/cache
    entrypoint: /usr/local/bin/python3
    env_file: .env

  gpu_job:
    build: ..
    volumes:
      - ./notebooks/models:/notebooks/models
      - /var/sinz-shared/mouse/toliaslab/static:/notebooks/data
      - ./notebooks:/notebooks
      - ../nnsysident:/src/nnsysident
      - ../data_port:/src/data_port
      - ../allenobs:/src/allenobs
      - /tmp/djcache:/cache
    env_file: .env
    runtime: nvidia
    entrypoint: /usr/local/bin/python3
    command: run.py

  gpu_notebook:
    build: ..
    volumes:
      - ./notebooks/models:/notebooks/models
      - /var/sinz-shared/mouse/toliaslab/static:/notebooks/data
      - /var/sinz-shared/monkey/toliaslab:/notebooks/data/monkey
      - ./notebooks:/notebooks
      - ../nnsysident:/src/nnsysident
      - ../data_port:/src/data_port
      - ../allenobs:/src/allenobs
      - /tmp/djcache:/cache
    env_file: .env
    ports:
      - "8888:8888"
    environment:
      - NVIDIA_VISIBLE_DEVICES=0
    runtime: nvidia
