version: "2.3"
services:
  notebook:
    build:
      dockerfile: ./nnsysident/Dockerfile
      context: ../
    image: nnsysident
    volumes:
      - .:/project
      - ../data_port:/src/data_port
      - ../neuralmetrics:/src/neuralmetrics
      - ../mei:/src/mei
      - /var/sinz-shared/mouse/toliaslab/static:/notebooks/data/
      - /var/sinz-shared/mouse/toliaslab/static:/project/notebooks/data/
      - /var/sinz-shared/monkey/toliaslab:/notebooks/data/monkey/
      - /var/sinz-shared/monkey/toliaslab:/project/notebooks/data/monkey/
    env_file: .env
    runtime: nvidia

  gpu_job:
    build:
      dockerfile: ./nnsysident/Dockerfile
      context: ../
    image: nnsysident
    volumes:
      - .:/project
      - ../data_port:/src/data_port
      - ../neuralmetrics:/src/neuralmetrics
      - ../mei:/src/mei
      - /var/sinz-shared/mouse/toliaslab/static:/notebooks/data/
      - /var/sinz-shared/mouse/toliaslab/static:/project/notebooks/data/
      - /var/sinz-shared/monkey/toliaslab:/notebooks/data/monkey/
      - /var/sinz-shared/monkey/toliaslab:/project/notebooks/data/monkey/
    env_file: .env
    runtime: nvidia
    entrypoint: /usr/local/bin/python3
    command: notebooks/run.py

